body{
   font-family: 'Merriweather', serif;
}
/* nav-sevtion */
.navbar{
  background-color: #252525;
  opacity: 0.6;
}
.nav-item{
  padding: 1rem 1rem;
  font-size: 1rem;
}


/* home-section */

#home{
  background: url('home.jpg') no-repeat center top;
  background-size: cover;
  min-height: 780px;
}
.inner{
  background-color: rgba(0,0,0,0.5);
  min-height: 780px;
}
.home-div{
  font-family: 'Berkshire Swash', cursive;
  }

  /* profile section */

  #profile{
    color: #292b2c;
  }
  .img-edit{
      width: 18rem;
      height: 19rem;
      border-radius: 50%;
      border: 5px solid	#292b2c;
    }
    .profile-text{
      color: #727878;
    }
    .about{
      padding-left: 2.6rem;
      padding-right: 2.6rem;
    }
    .profile-pic{
      padding-left: 1.8rem;
    }
    .profile-pic img{
      margin-left: 1.4rem;
    }
    .details{
      padding-left: 3rem;
    }

    /* Experience section */
    #experience{
      color: #eae7d9;
      background: url('edu.jpg'); no-repeat center;
      background-size: cover;
    }
    strong{
      font-size: 1.2rem;
      font-weight: bolder;
      letter-spacing: 0.1rem;
    }
    .edu-inner{
      background-color: rgba(0,0,0,0.6);
    }

    /* abilities section */

    #abilities{
      background-color: #d4f8e8;
    }
    .star-p:hover{
      background-color: #38423d;
      color: #FFC83D;
    }
    .skill-div{
      padding: 0 2.8rem;
    }
    .skill-star-div{
      padding-left: 3rem;
    }
    .star-div-1{
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .lb-div{
      padding-left: 3rem;
    }
    .lb-star{
      padding: 0 3rem;
    }
    .le-div{
      padding: 0 3rem;
    }
    .le-star{
      padding-left: 4.3rem;
    }

    /* contact section */

    .smile{
      font-size: 1.5rem;
      color: #FFC83D;
    }
    .love{
      color: #fe346e;
    }
